@font-face {
  font-family: "ChickenScratch";
  src: url(fonts/ChickenScratch.ttf) ;
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SABRINA";
  src: url(SABRINA.TTF) ;
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "AstonScript";
  src: url(fonts/AstonScript.ttf) ;
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "FineSerif";
  src: url(FineSerif.ttf) ;
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Winkle";
  src: url(fonts/Winkle.ttf) ;
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}

@font-face{
  font-family: "ROMANTIC";
  src:url(fonts/ROMANTIC.TTF) ;
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}

@font-face{
  font-family: "Crooked";
  src: url(fonts/Crooked.ttf);
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}

@font-face{
  font-family: "Wild";
  src:url(fonts/Wild.ttf);
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}

@font-face{
  font-family: "Karina";
  src:url(fonts/Karina.ttf) ;
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}

@font-face{
  font-family: "HMT";
  src:url(fonts/HMT.ttf) ;
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}

@font-face{
  font-family: "Apple";
  src:url(fonts/Apple.ttf);
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background:rgba(212, 235, 241, 0.3);
  backdrop-filter: blur(8px);
  z-index: 999;
  padding: 5px 0;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 90px;
  margin: 0;
  padding: 0;
}

.navbar a {
  position: relative;
  text-decoration: none;
  font-family: "ROMANTIC";
  font-size: 20px;
  color: pink;
  transition: 0.3s ease;
}

.navbar a:hover {
  transform: scale(1.1);
}

.navbar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: pink;
  transition: 0.3s;
}

.navbar a:hover::after {
  width: 100%;
}

.navbar a:active {
  transform: scale(0.9);
}


#about {
  scroll-margin-top: 75px;
}

#achievement {
  scroll-margin-top: 64px;
}

#love {
  scroll-margin-top: 40px; 
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-image: url(things/bekron.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.page {
  width: 100%;
  text-align: center;
  padding-top: 40px;
}

.top-section {
  position: relative;
  width: 100%;
  height: 300px;
}

.heart {
  width: 500px;          
  position: absolute;
  left: 50%;
  right: 50%;
  top: 10px;
  transform: translateX(-50%);
  z-index: 1;
}

.idcard {
  max-width: 500px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translateX(-50%);
  z-index: 2;
}

.star {
  width: 50px;
  position: absolute;
  z-index: 3;
}

.star2 {
  right: 140px;
  top: 430px;
}

.star4 {
  left: 120px;
  top: 20px;
}

.quote {
  margin-top: 200px;
  color: #7a8fa6;
  font-style:"FineSerif";

}

.title1 {
  font-family: "AstonScript";
  color: pink;
  font-size: 36px;
  margin-top: 40px;
  text-align: center;
}

.title2 {
  font-family: "Apple";
  color: pink;
  font-size: 36px;
  margin-top: 40px;
  text-align: center;
}

.box {
  width: 55%;              
  max-width: 600px;       
  margin: 10px auto;
  background: #fff7b3;
  border-radius: 15px;
  padding: 15px 20px;     
  color: #7a8fa6;
  font-size: 15px;
  line-height: 1.6;      
  opacity: 0.5 ;
  text-align: justify;  
  font-family: "HMT";
  text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.achievement {
    position: relative;
    width: 100%;
}

.achievement-box {
    width: 700px; 
    margin-top: -70px;
    margin-left: 270px;
}

.Achievement-title {
  text-align: right;
  margin-right: 200px;
  font-size: 70px;       
  color: pink;
  margin-bottom: 0px;
  font-family: "AstonScript";
  text-shadow: #f5f5e8;
}

.love {
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
}  

.love-title {
  text-align: left;
  margin-left:80px ;
  font-size: 58px;       
  color: pink;
  margin-bottom: 10px;
  font-family: "AstonScript";
}

.love-image {
   width: 90%;
  max-width: 1100px;
  margin-top: -150px;
  margin-left: 90px;
}

.social-section {
  text-align: center;
  margin-top: -80px;
}

.apps-container {
  position: relative;
  display: inline-block;
}

.apps-photo {
  width: 270px;
  border-radius: 20px;
}

.social-usernames {
  position: absolute;
  bottom: 30px;  
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  display: flex;
  gap: 20px;
}

.social-usernames a {
  text-decoration: none;
  color: #f5f5e8;
  font-family: "ChickenScratch";
  font-size: 17px;
  transition: 0.3s;
}

.social-usernames a:hover {
  color: #f5f5e8;
  transform: scale(1.1);
  text-shadow: 0 0 8px rgba(255,182,193,0.7);
}

